<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>

  <connectionStrings>
    <add name="DbConnection" connectionString="server=sql.itcn.dk\TCAA, 10001;database=jako3498.SKOLE;uid=jako3498.SKOLE;password=7xQ8B1nXq3;" />
  </connectionStrings>
</configuration>